
BACKEND_PORT= 
FRONTEND_PORT= 
FRONTEND_ORIGIN= 
MONGODB_URI= 
REDIS_URL=redis://localhost:6379
JWT_SECRET=el_pepe_ete_sech_tilin
JWT_EXPIRES_IN=1d

# Market provider
MARKET_PROVIDER=mock
SIMULATION_STRATEGY=flat
MARKET_FETCH_ON_STARTUP=false
MARKET_TICK_INTERVAL_SECONDS=5
INITIAL_BALANCE=100000
COMMISSION_RATE=0.005

# Mock provider
MOCK_DAILY_REFRESH_CRON=* * * * *

# Eodhd provider
EODHD_API_KEY= 
EODHD_BASE_URL=https://eodhd.com/api
EODHD_EXCHANGE_CODE=SN
EODHD_SYMBOLS=COPEC.SN,CENCOSUD.SN,CHILE.SN
EODHD_DAILY_REFRESH_ENABLED=true
EODHD_DAILY_REFRESH_CRON=0 30 18 * * 1-5
EODHD_CACHE_TTL_SECONDS=86400

# Currency Exchange Module
CURRENCY_PROVIDER=exchangeRate
CURRENCY_SYMBOLS=USDCLP
CURRENCY_SIMULATION_STRATEGY=flat
CURRENCY_API_REQ_TICK=0 0 * * * *
CURRENCY_RT_TICK_INTERVAL_SECONDS=5
CURRENCY_ANCHOR_VOLATILITY=0.005
CURRENCY_ANCHOR_DRIFT=0

# Exchange Rate
EXCHANGE_RATE_BASE_URL=https://v6.exchangerate-api.com/v6
EXCHANGE_RATE_API_KEY= 